@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@400;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333333;
    color: #FFFFFF;
}

.close {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}
ul {
    padding-inline-start: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}
li {
    list-style: none;
}
input::placeholder {
    color: #989898;
    font-family: 'Open Sans';
    font-size: 12px;
    /* line-height: 150%; */
}
textarea::placeholder {
    color: #989898;
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 150%;
}
input:active, input:hover, input:focus {
    outline: 0;
    outline-offset: 0;
}
textarea:active, textarea:hover, textarea:focus {
    outline: 0;
    outline-offset: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.header .container {
    padding-top: 56px;

    display: flex;
    justify-content: space-between;
    z-index: 2;
}


.youtube {
    margin-bottom: 80px;
}


.header-info {
    width: 300px;

    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #C4C4C4;

    transform: rotate(-90deg);
}

.logo-line {
    margin: 40px 0 10px;
}

.social-logo {
    margin-top: 30px;

}
a img:hover,
a img:focus {
    filter: invert(0.4) sepia(1) saturate(8.3) hue-rotate(360deg) brightness(1.2);
}


.header-burger {
    cursor: pointer;
}
.burger {
}
.header-main {
}

.header-container {
    position: relative;
}

.header-menu {
    display: none;
}
.header menu::-webkit-scrollbar {
    display: none;
}


.show {

    display: block;

    position: absolute;
    top: 0;
    left: 0;

    min-height: 100vh;
    max-height: 100vh;

    width: 300px;
    background: #333333;

    overflow: scroll;
}

.show::-webkit-scrollbar {
    display: none;
}
.phone::-webkit-scrollbar {
    display: none;
}


.show ul {
    padding-top: 140px;
    padding-left: 39px;
}
.show .header-logo {
    padding-bottom: 140px;


    /* margin: 89px auto 140px; */
    margin: 89px auto 0px;
    display: flex;
    flex-wrap: wrap;
    width: 140px;
}

.show .social-logo {
    margin-top: 0;
    width: 50px;
    height: 50px;
}
.show .vk,
.show .instagram {
    padding-right: 40px;
}
.show .vk,
.show .youtube {
    padding-top: 50px;
}
.show .social-logo img {
    width: 50px;
    height: 50px;
    opacity: 100%;
}
.show .youtube {
    margin-bottom: 0px;
}
.header-logo .logo-info,
.header-logo .logo-line {
    display: none;
}
.show li {
    padding-top: 35px;
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;

    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.show li a:hover,
.show li a:focus {
    color: #D1A954;
} 
.show .close {
    display: flex;
    position: absolute;
    top: 38px;
    left: 246px;
    z-index: 11;

    cursor: pointer;
}



.phone {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;

    padding-bottom: 5px;
    
    border-bottom: 2px solid #D1A954;

    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}





.big-theater {
    background-image: url(img/img-first.png);
    width: 100%;
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.big-theater-info {
    max-width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 107px;
    padding-top: 197px;
}
.big-theater-title {
    text-align: center;
    width: 100%;
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.big-theater-text {
    padding-top: 50px;
    padding-bottom: 49px;
    width: 100%;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.big-theater-text p {
    margin: 0;
}

.big-theater-btn {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #D1A954 ;
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-right: auto;
}

.big-theater-btn a {
    text-transform: uppercase;
    padding: 0 47px;
}

.big-theater-slider {
    min-width: 0;
    display: none;
}
.slider-nav-next,
.slider-nav-prev {
    cursor: pointer;
}



.about {

}
.about-title {
    padding-top: 80px;
    padding-bottom: 60px;
    font-family: 'Open Sans Condensed';
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.about-title span {
    color: #D1A954;
}
.about-info {
    display: flex;
    flex-direction: column;
}
.about-text {
    display: flex;
    flex-direction: column;
}
.about-text-title {
    padding-bottom: 40px;
    width: 100%;

    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.about-text-info {
    padding-bottom: 27px;

    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    text-align: center;
}
.about-number {
    display: flex;
    flex-direction: column;
}
.about-number-title {
    width: 100%;
    padding-bottom: 40px;

    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.about-number-info {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.number-info-1 {
    padding-right: 60px;
}
.number-info-2 {
}

.number-info-text {
    padding-top: 15px;

    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
}

.number-info-text span {
    color: #D1A954;
}

.about-foto {
    display: none;
}



.theater-show {
    padding-bottom: 80px;
}
.theater-show .container {
    min-width: 0;
}

.show-title {
    padding-top: 80px;
    padding-bottom: 60px;
    
    width: 100%;
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.show-title span {
    color: #D1A954;
}

.show-slider {
    height: 550px;
    width: 100%;

    
        
}
.show-slide {
    position: relative;
    width: 443px;
}
.show-slide .main-img {
    opacity: 65%;
}
.show-slide:focus .main-img,
.show-slide:hover .main-img{
    opacity: 100%;
}
.show-slide:focus .search-img,
.show-slide:hover .search-img{
    opacity: 100;
    transition: 0.3s;
    filter: none;
}
.show-slide:focus .show-slide-title,
.show-slide:hover .show-slide-title,
.show-slide:focus .show-slide-time,
.show-slide:hover .show-slide-time {
    opacity: 0;
    transition: 0.3s;

}

.show-slide-title {
    position: absolute;
    top: 40px;
    left: 40px;

    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.show-slide-time {
    position: absolute;
    left: -15px;
    bottom: 90px;

    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    transform: rotate(-90deg)
}
.search-img {
    position: absolute;
    top: 225px;
    left: 172px;

    opacity: 0;
}









.big-logo {

}

.big-logo .container {
    max-width: 100%;
    height: 550px;
}

.big-logo-wrapper {

    background-image: url(img/big-logo.png);
    max-height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;

    padding-top: 126px;
    padding-bottom: 126px;


    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo-numbers {
    padding-right: 24px;
    padding-left: 24px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.year {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #D1A954;
}
.logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

    text-align: left;
}
.stars {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.stars img {
    padding-right: 20px;

    width: 22px;
    height: 24px;
}
.stars-text {
    padding-top: 25px;

    max-width: 330px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 150%;
}


.partners {
}
.partners .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
}
.partners-title {
    padding-top: 80px;
    padding-bottom: 60px;

    margin: 0 auto;

    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.partners-title span {
    color: #D1A954;
}
.partners-logo {
    width: 100%;
    height: 273px;
    display: flex;
    flex-direction: row;
}
.logo {
    display: flex;
    flex-direction: column;
    width: 280px;
}
.logo img {
    padding-bottom: 80px;
}


.patron {
}
.patron-title {
    padding-top: 80px;
    padding-bottom: 60px;

    margin: 0 auto;

    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.patron-title span {
    color: #D1A954;
}
.patron-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}



.form {
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
}
.form-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-1 {
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.form-1-1, 
.form-1-2 {
    padding-bottom: 30px;

    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
}

.form input,
.form textarea {
    width: 47%;
    min-height: 35px;

    background: #444444;
    border: 1px solid #616161;
    box-sizing: border-box;
    padding-left: 15px;

    color: #989898;

    /* padding-top: 6px; */
}
.form-2 {
    width: 100%;
}
.form-2 textarea {
    width: 100%;
    min-height: 100px;
}
.form-2 textarea {
    color: #989898;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 12px;
    line-height: 150%;

    padding-top: 6px;
}



.form-text {
    padding-top: 40px;

    display: flex;
    flex-direction: column;

}
.form-text button {
    margin: 0 auto;

    display: flex;
    align-items: center;
    height: 50px;
    background-color: #D1A954;
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-right: auto;

    text-transform: uppercase;
    padding: 0 47px;
    color: #FFFFFF;

    border: none;
}

.form-text span {
    padding-top: 30px;

    display: flex;

    margin: 0 auto;
    max-width: 435px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #989898;

    text-align: center;
}

.patron-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;


}

.patron-phone,
.patron-info-text {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.phone-1 {
    padding-bottom: 25px;
}
.phone-2 {
    padding-bottom: 25px;
}
.patron-inf-text {
    padding-bottom: 25px;
}
.phone-mail {
    padding-bottom: 25px;
}
.phone-address {
}
.footer {
    min-height: 78px;
    width: 100%;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;

    border-top: 1px solid #565656;
    
}
.footer-left,
.footer-right {
    color: #989898;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
}

.footer-right a {
    color: #989898;
}
/* .header-menu {
    display: none;
    overflow: visible;
} */


@media (max-width:450px) {
    
    .big-logo .container {
        max-width: 100%;
    }
    .big-theater-title {
        font-size: 50px;
        line-height: 75px;
    }

    .big-logo-wrapper {

        flex-direction: column;
        justify-content: center;
    }

    .big-logo-wrapper {
        padding-top: 26px;
        padding-bottom: 26px;
    }
    .logo-numbers {
        padding: 0;
    }
    .stars {
        justify-content: center;
    }
    .stars img {
        padding: 0 10px;
    }
    .logo-text {
        text-align: center;
    }

    
    .form-1-1, 
    .form-1-2 {
        padding-bottom: 30px;
    
        display: flex;
        flex-direction: column;
        
        justify-content: space-between;
    }
    
    .form input {
        width: 100%;
    }
    .form-1-1 input:first-child, 
    .form-1-2 input:first-child {
        margin-bottom: 30px;
    }
    .form-2 {
        width: 100%;
    }

    .patron-info {
        flex-direction: column;
        align-items: center;
    }
    .phone-mail {
        text-align: center;
    }

    .footer-left,
    .footer-right {
        max-width: 150px;
    }
}

@media (min-width:760px){
    .big-logo .container {
        max-width: 100%;
        width: 100%;
    }

    .container {
        max-width: 690px;
    }

    .big-theater-info {
        padding-top: 252px;
        padding-bottom: 253px;
    }

    .about-title {
        padding-top: 90px;
    }
    .about-info {
        flex-direction: row;
    }
    .about-text {
        width: 445px;
        padding-right: 30px;
    }
    .about-text-info,
    .about-text-title {
        text-align: left;
    }
    .about-number-info {
        flex-direction: column;
    }
    .number-info-1 {
        padding: 0;
        padding-bottom: 15px;
    }


    .theater-show {
        padding-bottom: 90px;
    }
    .show-title {
        padding-top: 90px;
    }

    .big-logo-wrapper {
        width: 100%;
    }
    .stars-text {
        font-size: 29px;
        max-width: 380px;
    }

    .partners-title {
        padding-top: 90px;
    }

    .patron-title {
        padding-top: 90px;
    }
    .form {
        padding-bottom: 60px;
    }
    .form-main {
        flex-direction: row;
    }

    .form-1 input {
        width: 180px;
        margin-right: 30px;
    }

    .form-text {
        flex-direction: row-reverse;
        padding-top: 10px;
        justify-content: space-between;
    }
    .form-text button {
        margin: 0;
    }
    .form-text span {
        padding-top: 0;
        margin: 0;
        text-align: start;
    }
    .patron-info {

    }
}

@media (min-width:1000px){



    
    .header-burger {
        display: none;
    }
    .header-main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .header-menu {
        display: flex;
        flex-direction: row;
        width: 100%;

        padding-bottom: 50px;
    }
    .header .container {
        padding-top: 51px;
    }
    .header-menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        font-family: 'Open Sans Condensed';
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;

        letter-spacing: 0.1em;
        text-transform: uppercase;

        padding-right: 0;
    }

    .header-menu ul li a:hover{
        color: #D1A954;
        transition: 0.3s;
    }


    .header-logo {

        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 150px;
    
        background: rgba(51, 51, 51, 0.75);
        
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    .header-logo a img{
        height: 26px;
        width: 26px;

        opacity: 60%;
    }
    .header-logo .logo-info,
    .header-logo .logo-line {
        display: flex;
    }


    .big-logo .container {
        width: 100%;
    }

    .phone {
        margin: 0 auto;
    }


    .theater-show .container {
        max-width: 100%;
        padding-left: 150px;
    }

    .big-theater-info {
        padding-top: 384px;
        padding-bottom: 365px;
    }
    .about-title {
        padding-top: 150px;
        padding-bottom: 100px;
    }

    .show-title {
        padding-top: 150px;
        padding-bottom: 100px;
    }

    .theater-show {
        padding-bottom: 150px;
    }
    .logo-numbers {
        padding-right: 58px;
    }
    .stars-text {
        font-size: 34px;
        max-width: 450px;
    }

    .partners-title {
        padding-top: 150px;
        padding-bottom: 100px;
    }

    .patron-title {
        padding-top: 120px;
        padding-bottom: 100px;

    }

    .form {
        padding-bottom: 80px;
    }

    .patron-info {
        padding-bottom: 55px;
    }
}

@media (min-width:1150px){
    .container {
        max-width: 850px;
    }
    .big-logo .container {
        width: 100%;
        max-width: 1100px;
    }
    .header-main {
        flex-direction: row;
        justify-content: space-between;
    }
    .header-menu {
        padding-bottom: 0;
        width: auto;
    }
    .header-menu ul {
        justify-content: flex-start;
    }
    .header-menu li {
        padding-right: 25px;
    }
    .phone {
        margin: 0;
        width: 120px;
    }
}

@media (min-width:1400px){
    .container {
        max-width: 1100px;
    }
    .big-logo .container {
        max-width: 1100px;
    }
    .header-menu li {
        padding-right: 63px;
    }
    .header-left {
        display: flex;
    }
    .big-theater .container {
        display: flex;
        flex-direction: row;
    }
    .big-theater-info {
        padding-right: 125px;
    }
    .big-theater-slider {
        min-width: 0;
        width: 370px;
        height: 570px;
        margin-top: 267px;
        display: flex;
        position: relative;
    }
    .big-theater-slider-container {
        width: 350px;
        height: 490px;
        position: absolute;
        z-index: 2;
    }
    .big-theater-slider-back {
        width: 350px;
        height: 490px;
        position: absolute;
        left: 20px;
        top: 20px;
        z-index: 1;
    }

    .slider-nav {
        position: absolute;
        left: 0;
        width: 370px;
        top: 545px;
        display: flex;
        justify-content: space-between;



    }

    .about-info {
        justify-content: space-between;
    }
    .about-text {
        padding-right: 0;
    }
    .about-foto {
        display: flex;
        width: 350px;
        height: 292px;
    }



    .patron-form {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .patron-info {
        flex-direction: column;
        justify-content: flex-start;
        
    }
    .patron-phone,
    .patron-info-text {
        text-align: left;
    }

    .form-2 input {
        width: 310px;
    }

    .big-logo {
        background-image: none;
    }
    .big-logo-wrapper {
        display: flex;
        background-image: url(img/big-logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .logo-numbers {
        padding-right: 103px;
    }

}


